<nav>
  <div class="site-title">
    <a href="/"><h1>SWC Blogs</h1></a>
    <p>A Blogs Site</p>
  </div>
  <ul>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
    <li><a id="account" href="/login">Login/Register</a></li>

  </ul>
</nav>